<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TFS_Assist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TFS_Assist.Properties.Settings>
            <setting name="settingServerFolder" serializeAs="String">
                <value>$/Fusion360Documentation/FusDocMain/acad/components/global/src</value>
            </setting>
            <setting name="settingLocalFolder" serializeAs="String">
                <value>D:\fusion\components\global\src</value>
            </setting>
        </TFS_Assist.Properties.Settings>
    </userSettings>
</configuration>